In [1]:
from defillama2 import DefiLlama
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', 50)
pd.options.display.float_format = '{:,.4f}'.format

## Create a DefiLlama instance

In [2]:
obj = DefiLlama()

Say we're interested in getting the prices of the following tokens from the corresponding chains/sources

In [3]:
dd = {'0xdF574c24545E5FfEcb9a659c229253D4111d87e1':'ethereum',
      'ethereum':'coingecko',
      '0x762539b45a1dcce3d36d080f74d1aed37844b878':'bsc',
      '0xdB25f211AB05b1c97D595516F45794528a807ad8':'ethereum',
      '0xfc5a1a6eb076a2c7ad06ed22c90d7e710e35ad0a':'arbitrum',  # GMX on arbitrum
      '0x62edc0692BD897D2295872a9FFCac5425011c661':'avax',      # GMX on avalanche
      '0x4277f8f2c384827b5273592ff7cebd9f2c1ac258':'arbitrum',  # GLP on arbitrum
      '0x01234181085565ed162a948b6a5e88758CD7c7b8':'avax',      # GLP on avalanche
      }

## Get current prices

In [4]:
obj.get_tokens_curr_prices(dd)

,symbol,price,chain,decimals,token_address
timestamp,,,,,
2022-12-29 06:03:04+00:00,ETH,"1,195.2700",coingecko,NaN,ethereum
2022-12-29 06:00:26+00:00,GLP,0.8327,arbitrum,18.0000,0x4277f8f2c384827b5273592ff7cebd9f2c1ac258
2022-12-29 06:00:25+00:00,GLP,0.6679,avax,18.0000,0x01234181085565ed162a948b6a5e88758CD7c7b8
2022-12-29 06:03:06+00:00,LINA,0.0050,bsc,18.0000,0x762539b45a1dcce3d36d080f74d1aed37844b878
2022-12-29 06:02:57+00:00,EURS,1.0590,ethereum,2.0000,0xdB25f211AB05b1c97D595516F45794528a807ad8
2022-12-29 06:03:02+00:00,GMX,42.4500,arbitrum,18.0000,0xfc5a1a6eb076a2c7ad06ed22c90d7e710e35ad0a
2022-12-29 06:03:02+00:00,GMX,42.4500,avax,18.0000,0x62edc0692BD897D2295872a9FFCac5425011c661
2022-12-29 06:03:04+00:00,HUSD,0.1428,ethereum,8.0000,0xdF574c24545E5FfEcb9a659c229253D4111d87e1

## Get earliest timestamps and prices

In [5]:
obj.get_tokens_earliest_prices(dd)

,symbol,chain,earliest_timestamp,price,token_address
0,GMX,avax,2021-09-13 13:02:42+00:00,14.7376,0x62edc0692BD897D2295872a9FFCac5425011c661
1,ETH,coingecko,2015-08-07 00:00:00+00:00,2.8316,ethereum
2,GMX,arbitrum,2021-09-13 13:02:42+00:00,14.7376,0xfc5a1a6eb076a2c7ad06ed22c90d7e710e35ad0a
3,GLP,avax,2022-02-03 00:00:00+00:00,0.7258,0x01234181085565ed162a948b6a5e88758CD7c7b8
4,GLP,arbitrum,2022-02-03 00:00:00+00:00,0.8791,0x4277f8f2c384827b5273592ff7cebd9f2c1ac258
5,HUSD,ethereum,2019-09-19 09:03:41+00:00,0.9992,0xdF574c24545E5FfEcb9a659c229253D4111d87e1
6,LINA,bsc,2020-09-17 13:01:17+00:00,0.0140,0x762539b45a1dcce3d36d080f74d1aed37844b878
7,EURS,ethereum,2018-07-30 06:56:29+00:00,1.1668,0xdB25f211AB05b1c97D595516F45794528a807ad8

## Get snapshot historical prices

In [6]:
obj.get_tokens_hist_snapshot_prices(dd, '2022-09-15 13:25:43')

,symbol,price,chain,token_address
timestamp,,,,
2022-09-15 13:00:25+00:00,GLP,0.9223,arbitrum,0x4277f8f2c384827b5273592ff7cebd9f2c1ac258
2022-09-15 13:26:40+00:00,ETH,"1,586.8219",coingecko,ethereum
2022-09-15 13:23:16+00:00,EURS,0.9900,ethereum,0xdB25f211AB05b1c97D595516F45794528a807ad8
2022-09-15 13:23:24+00:00,LINA,0.0079,bsc,0x762539b45a1dcce3d36d080f74d1aed37844b878
2022-09-15 13:25:07+00:00,GMX,46.6015,arbitrum,0xfc5a1a6eb076a2c7ad06ed22c90d7e710e35ad0a
2022-09-15 13:00:25+00:00,GLP,0.7712,avax,0x01234181085565ed162a948b6a5e88758CD7c7b8
2022-09-15 13:25:07+00:00,GMX,46.6015,avax,0x62edc0692BD897D2295872a9FFCac5425011c661
2022-09-15 13:23:50+00:00,HUSD,0.9943,ethereum,0xdF574c24545E5FfEcb9a659c229253D4111d87e1

In [7]:
obj.get_tokens_hist_snapshot_prices(dd, '2020-09-15 13:25:43')

,symbol,price,chain,token_address
timestamp,,,,
2020-09-15 13:03:12+00:00,HUSD,1.0012,ethereum,0xdF574c24545E5FfEcb9a659c229253D4111d87e1
2020-09-15 13:06:08+00:00,ETH,377.5982,coingecko,ethereum
2020-09-15 13:13:07+00:00,EURS,1.1774,ethereum,0xdB25f211AB05b1c97D595516F45794528a807ad8

## Get historical batch prices

`get_tokens_hist_batch_prices()` is pretty fast and is used in 
both `get_daily_open_close()` and `get_tokens_hist_prices()`.

In [8]:
dd2 = {"avax:0xb97ef9ef8734c71904d8002f8b6bc66dd9c48a6e": 
            [1666876743, 1666862343], # unix epoch seconds
      "coingecko:ethereum": [1666869543, 1666862343]}
obj.get_tokens_hist_batch_prices(dd2)

,symbol,price,chain,token_address
timestamp,,,,
2022-10-27 09:18:19+00:00,ETH,"1,550.8133",coingecko,ethereum
2022-10-27 11:18:42+00:00,ETH,"1,548.7367",coingecko,ethereum
2022-10-27 13:17:54+00:00,USDC,0.9994,avax,0xb97ef9ef8734c71904d8002f8b6bc66dd9c48a6e
2022-10-27 09:17:44+00:00,USDC,1.0020,avax,0xb97ef9ef8734c71904d8002f8b6bc66dd9c48a6e

## Get daily close prices ('23:59:59')

pretty fast because of the batch historical price data API

In [9]:
df = obj.get_daily_open_close(dd, start='2022-11-01', end='2022-11-03', kind='close')
df.head()

                  ETH   EURS    GLP     GMX   HUSD   LINA
date
2022-11-01 1,580.3787 0.9795 0.8544 41.8975 0.3469 0.0077
2022-11-02 1,520.6384 0.9732 0.8405 40.4965 0.3256 0.0082
2022-11-03 1,531.6944 0.9634 0.8435 40.1600 0.3315 0.0092

In [10]:
df = obj.get_daily_open_close(dd, start='2022-11-01', end='2022-12-26', kind='close')
print(df.head())
print(df.tail())

                  ETH   EURS    GLP     GMX   HUSD   LINA
date
2022-11-01 1,580.3787 0.9795 0.8544 41.8975 0.3469 0.0077
2022-11-02 1,520.6384 0.9732 0.8405 40.4965 0.3256 0.0082
2022-11-03 1,531.6944 0.9634 0.8435 40.1600 0.3315 0.0092
2022-11-04 1,644.4788 0.9885 0.8706 43.2112 0.3083 0.0096
2022-11-05 1,627.9658 0.9845 0.8697 40.9000 0.3019 0.0090
                  ETH   EURS    GLP     GMX   HUSD   LINA
date
2022-12-22 1,218.1280 1.0390 0.7593 46.1309 0.1531 0.0053
2022-12-23 1,220.7017 1.0429 0.7590 45.9920 0.1519 0.0052
2022-12-24 1,221.0826 1.0517 0.7597 46.7146 0.1504 0.0053
2022-12-25 1,219.5090 1.0550 0.7593 45.9760 0.1507 0.0053
2022-12-26 1,226.0268 1.0720 0.7636 44.9566 0.1505 0.0052

In [11]:
type(df.index[0])

datetime.date

In [12]:
# calculate daily returns
simple_rets = df.pct_change()
simple_rets.head()

               ETH    EURS     GLP     GMX    HUSD    LINA
date
2022-11-01     NaN     NaN     NaN     NaN     NaN     NaN
2022-11-02 -0.0378 -0.0064 -0.0163 -0.0334 -0.0615  0.0685
2022-11-03  0.0073 -0.0101  0.0035 -0.0083  0.0183  0.1213
2022-11-04  0.0736  0.0260  0.0321  0.0760 -0.0700  0.0453
2022-11-05 -0.0100 -0.0040 -0.0010 -0.0535 -0.0209 -0.0631

In [13]:
# calculate the log returns
log_rets = np.log(simple_rets + 1)
log_rets.head()

               ETH    EURS     GLP     GMX    HUSD    LINA
date
2022-11-01     NaN     NaN     NaN     NaN     NaN     NaN
2022-11-02 -0.0385 -0.0064 -0.0164 -0.0340 -0.0635  0.0663
2022-11-03  0.0072 -0.0101  0.0035 -0.0083  0.0181  0.1145
2022-11-04  0.0710  0.0257  0.0316  0.0732 -0.0726  0.0443
2022-11-05 -0.0101 -0.0040 -0.0010 -0.0550 -0.0211 -0.0652

In [14]:
# calculate cumulative returns using the simple returns
cumu_rets_way1 = (1 + simple_rets).cumprod() - 1
cumu_rets_way1.head()

               ETH    EURS     GLP     GMX    HUSD   LINA
date
2022-11-01     NaN     NaN     NaN     NaN     NaN    NaN
2022-11-02 -0.0378 -0.0064 -0.0163 -0.0334 -0.0615 0.0685
2022-11-03 -0.0308 -0.0164 -0.0128 -0.0415 -0.0444 0.1981
2022-11-04  0.0406  0.0092  0.0189  0.0314 -0.1113 0.2523
2022-11-05  0.0301  0.0051  0.0179 -0.0238 -0.1299 0.1733

In [15]:
# calculate cumulative returns using the log returns
cumu_rets_way2 = np.exp(log_rets.cumsum()) - 1
cumu_rets_way2.head()

               ETH    EURS     GLP     GMX    HUSD   LINA
date
2022-11-01     NaN     NaN     NaN     NaN     NaN    NaN
2022-11-02 -0.0378 -0.0064 -0.0163 -0.0334 -0.0615 0.0685
2022-11-03 -0.0308 -0.0164 -0.0128 -0.0415 -0.0444 0.1981
2022-11-04  0.0406  0.0092  0.0189  0.0314 -0.1113 0.2523
2022-11-05  0.0301  0.0051  0.0179 -0.0238 -0.1299 0.1733

In [16]:
# check both methods give the same results
(cumu_rets_way1 - cumu_rets_way2).sum()

ETH    -0.0000
EURS    0.0000
GLP     0.0000
GMX     0.0000
HUSD    0.0000
LINA   -0.0000
dtype: float64

## Get daily open prices ('00:00:00')

In [17]:
df = obj.get_daily_open_close(dd, start='2022-11-01', end='2022-11-30', kind='open')
len(df)

30

In [18]:
print(df.head())
print(df.tail())

                  ETH   EURS    GLP     GMX   HUSD   LINA
date
2022-11-01 1,572.9795 0.9790 0.8549 42.7096 0.3289 0.0081
2022-11-02 1,580.3787 0.9795 0.8544 41.8975 0.3469 0.0077
2022-11-03 1,520.6384 0.9732 0.8405 40.4965 0.3256 0.0082
2022-11-04 1,531.6944 0.9634 0.8435 40.1600 0.3315 0.0092
2022-11-05 1,644.4788 0.9885 0.8706 43.2112 0.3083 0.0096
                  ETH   EURS    GLP     GMX   HUSD   LINA
date
2022-11-26 1,198.9756 1.0230 0.7522 46.0379 0.1652 0.0060
2022-11-27 1,206.4294 1.0190 0.7524 44.5701 0.1718 0.0060
2022-11-28 1,196.1962 1.0000 0.7505 43.3231 0.1709 0.0060
2022-11-29 1,169.9211 1.0200 0.7413 40.6311 0.1655 0.0060
2022-11-30 1,217.4080 1.0030 0.7530 41.6620 0.1693 0.0062

## Get hourly data

It takes ~2.5 minutes to download 720 hours (30 days) of data.

In [19]:
df = obj.get_tokens_hist_prices(dd, start='2022-11-01', end='2022-11-30', freq='hour')
len(df)

720

In [20]:
print(df.head())
print(df.tail())

                                 ETH   EURS    GLP     GMX   HUSD   LINA
datetime
2022-11-01 00:00:00+00:00 1,572.9795 0.9790 0.8549 42.7096 0.3289 0.0081
2022-11-01 01:00:00+00:00 1,570.7231 0.9769 0.8543 42.6552 0.3130 0.0081
2022-11-01 02:00:00+00:00 1,579.9153 0.9796 0.8564 43.2171 0.3097 0.0081
2022-11-01 03:00:00+00:00 1,595.7311 0.9811 0.8596 43.5466 0.3137 0.0081
2022-11-01 04:00:00+00:00 1,585.8600 0.9772 0.8567 43.3873 0.3142 0.0080
                                 ETH   EURS    GLP     GMX   HUSD   LINA
datetime
2022-11-30 19:00:00+00:00 1,282.9447 0.9945 0.7684 47.0119 0.1649 0.0063
2022-11-30 20:00:00+00:00 1,290.9513 0.9876 0.7722 47.3701 0.1666 0.0063
2022-11-30 21:00:00+00:00 1,294.5455 0.9928 0.7742 47.6497 0.1669 0.0063
2022-11-30 22:00:00+00:00 1,297.6653 0.9863 0.7751 47.5388 0.1665 0.0063
2022-11-30 23:00:00+00:00 1,300.9556 0.9848 0.7765 48.1318 0.1684 0.0063

In [21]:
type(df.index[0])

pandas._libs.tslibs.timestamps.Timestamp

## Get daily open, high, low, close, median, mean, std of the prices

It takes ~2.5 minutes to download 720 hours (30 days) of data.

In [22]:
df = obj.get_tokens_hist_prices(dd, start='2022-11-12', end='2022-11-14', freq='daily')
df.tail()

                 open                                            low  ...  \
                  ETH   EURS    GLP     GMX   HUSD   LINA        ETH  ...
date                                                                  ...
2022-11-12 1,292.9893 0.9929 0.7865 34.9911 0.1805 0.0063 1,245.1100  ...
2022-11-13 1,255.7600 1.0144 0.7743 36.9490 0.1604 0.0059 1,219.3326  ...
2022-11-14 1,221.4864 1.0276 0.7618 38.5188 0.1586 0.0062 1,185.3243  ...

             mean     std
             LINA     ETH   EURS    GLP    GMX   HUSD   LINA
date
2022-11-12 0.0061  8.9221 0.0109 0.0033 1.1794 0.0074 0.0001
2022-11-13 0.0060 16.4572 0.0072 0.0056 2.6507 0.0049 0.0001
2022-11-14 0.0061 27.7018 0.0081 0.0107 1.2372 0.0023 0.0001

[3 rows x 42 columns]

In [23]:
type(df.index[0])

datetime.date

## Get the closest block to a timestamp

In [24]:
obj.get_closest_block('ethereum', '2020-09-24 13:25:43')
# height: number of blocks before the returned block
# timestamp: timestamp of the returned block since the epoch

     height                 timestamp
0  10925597 2020-09-24 13:25:53+00:00

## Get historical prices for different candle periods

for example: 15m, 1h, 4h, 1d, 1w

In [25]:
# get 10 price points on the 15-minute chart for weth on arbitrum before '2022-12-25 20:15:00' 
df = obj.get_prices_at_regular_intervals(
    {'0x82aF49447D8a07e3bd95BD0d56f35241523fBab1':'arbitrum'},
    end = '2022-12-25 20:15:00', 
    end_format='%Y-%m-%d %H:%M:%S', 
    span = 10,
    period = '15m'
)
df.head()

                                WETH
timestamp
2022-12-25 18:00:50+00:00 1,210.4570
2022-12-25 18:15:23+00:00 1,210.1376
2022-12-25 18:30:27+00:00 1,209.7705
2022-12-25 18:45:24+00:00 1,210.7755
2022-12-25 19:00:29+00:00 1,210.0591

In [26]:

# get 5 price points before '2022-12-25 20:15:34' that are 1 hour apart
df = obj.get_prices_at_regular_intervals(
    dd,
    end = '2022-12-25 20:15:34', 
    end_format='%Y-%m-%d %H:%M:%S', 
    span = 5,
    period = '1h'
)
df.head()

                                 ETH   EURS     GMX   HUSD   LINA
timestamp
2022-12-25 16:15:01+00:00        NaN    NaN 46.1711    NaN    NaN
2022-12-25 16:15:04+00:00        NaN    NaN     NaN    NaN 0.0052
2022-12-25 16:15:33+00:00 1,212.4401    NaN     NaN    NaN    NaN
2022-12-25 16:15:45+00:00        NaN    NaN     NaN 0.1506    NaN
2022-12-25 16:16:31+00:00        NaN 1.0537     NaN    NaN    NaN

In [27]:
# get price points for the 5 weeks before '2022-12-25'
df = obj.get_prices_at_regular_intervals(
    dd,
    end = '2022-12-25', 
    end_format='%Y-%m-%d', 
    span = 5,
    period = '1w'
)
df.head()

                                 ETH  EURS    GLP     GMX   HUSD   LINA
timestamp
2022-11-27 00:00:01+00:00        NaN   NaN    NaN     NaN    NaN 0.0060
2022-11-27 00:00:10+00:00        NaN   NaN    NaN 44.5701    NaN    NaN
2022-11-27 00:00:25+00:00        NaN   NaN 0.7524     NaN    NaN    NaN
2022-11-27 00:00:39+00:00        NaN   NaN    NaN     NaN 0.1718    NaN
2022-11-27 00:01:01+00:00 1,206.4294   NaN    NaN     NaN    NaN    NaN